body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --background-color:#eee;
  --card-background-color:#fff;
  --primary-text-color:#222;
  --secondary-text-color:#444;
}

.dark{
  --background-color:#111;
  --card-background-color:#333;
  --primary-text-color:#fff;
  --secondary-text-color:#ddd;
}

/* Success theme */
.button-success {
  background-color: #4CAF50; /* Green */
  color: #ffffff; /* White */
  border: 2px solid #4CAF50; /* Green */
}

.button-success:hover {
  background-color: #45a049; /* Dark Green */
}

/* Primary theme */
.button-primary {
  background-color: #008CBA; /* Blue */
  color: #ffffff; /* White */
  border: 2px solid #008CBA; /* Blue */
}

.button-primary:hover {
  background-color: #007B9A; /* Dark Blue */
}

/* Info theme */
.button-info {
  background-color: #00B0FF; /* Light Blue */
  color: #ffffff; /* White */
  border: 2px solid #00B0FF; /* Light Blue */
}

.button-info:hover {
  background-color: #009ACD; /* Dark Light Blue */
}

/* Danger theme */
.button-danger {
  background-color: #f44336; /* Red */
  color: #ffffff; /* White */
  border: 2px solid #f44336; /* Red */
}

.button-danger:hover {
  background-color: #da190b; /* Dark Red */
}

.input-field { 
  padding: 10px;
  margin: 5px;
}

.select-dropdown { 
  padding: 10px;
  margin: 5px;
}

::-webkit-scrollbar{
  display: none;
}
.app{
  display: flex;  
}
.home{
  background-color: var(--background-color);   
  color: var(--primary-text-color); 
  display: flex;   
  width: 80%;
  padding: 10px 10px 10px 0;    
  
  .box{

      background-color: var(--card-background-color);
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 10px 10px;
      width: 100%;
  }


}