.topbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 20%;
    a {
      font-size: 25px;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .card-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-right {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px;
    }
  }
}
