.leftbar{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    overflow: scroll;    
    width: 20%;
    gap: 5px;
    padding: 10px 10px;        
    position: sticky;
    left: 0;
    top: 60px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 0;        
        border-radius: 10px;
        background-color: var(--card-background-color);
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 10px 10px;
        }
        span{
            font-size: 20px;
            color:darkgray  ;
            margin: 0;
            font-weight: 600;
        }
    }

    .item{
        display: flex;        
        align-items: center;
        gap: 10px;
        height:40px;
        cursor: pointer;        
        overflow-y: scroll;
        padding-left: 10px;
        
        
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        span{
            font-size: 15px;
            color:var(--secondary-text-color);
            font-weight: 600;
        }
    }
    .item:hover{
        background-color: var(--card-background-color);        
        border-radius: 10px;       
        
    }
}